; this comment is being ignored

[application]
name=test
other[]=123
other[]=456

[filter:auth]
args[]=(uploadProfile)|(assets)|(user)|(\/home\/(dontNeedAuth|error|mysql|666666|head|redirect))|(\/build\/\d+\/)\S+
args[]=auth

[filter:trace]

[mysql]
;starter=@rockerjs/mysql-starter
host=localhost
user=NODE_PERF_APP_user
port=32893
database=NODE_PERF_APP
password=root
resourcePath=/test/app/repository/resource
;resourcePath=/dist/test/app/repository/resource

[midLogger]
starter=@rockerjs/midlog-starter
env=dev

[rpc]
starter=@rockerjs/rpc-starter
interfaces[]=/test/app/interfaces/httpInterface
