; this comment is being ignored

[application]
env=dev

[filter:wdr]
args[]=(uploadProfile)|(\/build\/\d+\/)\S+
args[]=wdr

[filter:trace]

[mysql]
starter=@rockerjs/mysql-starter
host=vdds-proxy.daily.idcvdian.com
user=NODE_PERF_APP_user
port=3308
database=NODE_PERF_APP
password=root
resourcePath=../../../../repository/resource

[redis]
starter=@rockerjs/redis-starter
env=daily
name=vstudio
